fastapi==0.111.0
uvicorn[standard]==0.29.0
python-multipart==0.0.9
pydantic==2.7.1
google-generativeai==0.5.4
google-api-core==2.19.0
reportlab==4.1.0
arabic-reshaper==3.0.0
python-bidi==0.4.2
python-docx==1.1.0
lxml==5.2.2
anyio==4.3.0
httpx==0.27.0
